.slider-container-coupon {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slidercoupon {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.card-coupon {
    min-width: 25%;
    box-sizing: border-box;
    padding: 20px;
    background: #f0f0f0;
    margin: 5px;
    text-align: left;
    border-radius: 8px;
    font-weight: bold;
}

.nav-coupon {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    right: 0;
}
