/*body {
    background: #e2eaef;
    font-family: "Open Sans", sans-serif;
}
*/
.carousel-inner {
    width: 100%;
    max-height: 400px !important;
}
#spanNoti {
    display: none;
}

.spancustomer {
    display: none;
}

.bar-chart-legend {
    display: inline-block;
    right: 25px;
    top: 8px;
    font-size: 20px;
}

    .bar-chart-legend .legend-item {
        display: block;
    }

    .bar-chart-legend .legend-color {
        width: 12px;
        height: 12px;
        margin: 3px 5px;
        display: inline-block;
    }



.ws {
    background-color: whitesmoke;
}
.bgLogin {
    background-color: whitesmoke;
    border-radius: 1rem;
}
.lgTitle {
    color: #00abfa;

}
a{
    text-decoration: none;
}


.scroll-container {
    width: 700px;
    height: 650px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border: 2px solid #606369;
}

.message-img {
    width: 45px;
    height: 100%;
}

.styletime-customer {
    display: flex;
    justify-content: end;
}
.styletime-toreciever{
    display: flex;
    justify-content: start;
}
.sptime {
    font-size: smaller;
    margin-bottom: 1px;
    color: dimgray;
}
.stylecontent-customer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 4px;
    padding-top: 1px;
}
.stylecontent-toreciever {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 4px;
    padding-top: 1px;
}
.spcontent-customer {
    font-size: smaller;
    padding: 5px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-left: 100px;
    color: #54442f;
    border-radius: 10px;
    background-color: #ffad46;
}
.spcontent-toreciever {
    font-size: smaller;
    padding: 5px;
    margin-right: 100px;
    margin-bottom: 3px;
    margin-left: 3px;
    color: #40456c;
    border-radius: 10px;
    background-color: #e9ecef;
}
.spcontent-customer > img{
    width: 200px;
    height: 200px;
}

.spcontent-toreciever > img {
    width: 200px;
    height: 200px;
}
.lastestMessageCutomer > img {
    width: 150px;
    height: 150px;
}

#cpnCode {
    background-color: #8739e6;
    border: 1px dashed aliceblue solid 5px;
    color: aliceblue;
    padding: 10px 20px;
}

inValue {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

    inValue:focus {
        border: 3px solid #555;
    }

/*input {
    border: 3px solid #757980;
}

.form-group {
    border: 2px solid #8d8e8f;
    border-radius: 10%;
}
*/
.form-control {
    border: 2px solid #8d8e8f;
    border-radius: 25px;
}

ul{
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.notificationContact {
    position: absolute;
    background-color: mediumpurple;
    text-align: center;
    border-radius: 10px;
    min-width: 17px;
    height: 17px;
    font-size: 10px;
    color: #ffffff;
    font-weight: 300;
    line-height: 17px;
    top: 3px;
    right: 3px;
    letter-spacing: -1px;
}

.linkFooter {
    color: #6c6f6d;
    font-weight: bold;
}

.notificationCart {
    position: absolute;
    background-color: forestgreen;
    text-align: center;
    border-radius: 10px;
    min-width: 20px;
    height: 20px;
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    line-height: 17px;
    top: -3px;
    right: 8px;
    letter-spacing: -1px;
    margin-left: 20px;
    justify-content: center;
    align-content: center;

}


.bar-chart-legend {
    display: inline-block;
    right: 25px;
    position: absolute;
    top: 8px;
    font-size: 10px;
}

    .bar-chart-legend .legend-item {
        display: block;
        font-size: 20px;
    }

    .bar-chart-legend .legend-color {
        width: 25px;
        height: 25px;
        margin: 5px 5px;
        display: inline-block;
    }

.donut-legend {
    margin-top: 50px;
}

.donut-legend > span {
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 10px;
    font-size: 12px;
}



    .donut-legend > span > i {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 7px;
        margin-top: -3px;
        vertical-align: middle;
        border-radius: 1px;
    }

.donutlegendbrand {
    display: inline-block;
    font-size: 10px;
    margin-top: 50px;
}

    .donutlegendbrand > span {
        display: block;
        font-size: 12px;
        margin-right: 0;
    }

        .donutlegendbrand > span > i {
            width: 17px;
            height: 17px;
            margin: 5px 5px;
            display: inline-block;
        }


.mitems {
    margin-left: 20px;
}


.post-item .btn-pin {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid #d8d8d8;
    transition: all 0.3s ease-out;
}

    .post-item .btn-pin:hover {
        background: #ffea00;
        color: #fff;
    }

/*.bar-chart-legend {
    display: inline-block;
    right: 25px;
    position: absolute;
    top: 8px;
    font-size: 10px;
}

    .bar-chart-legend .legend-item {
        display: block;
    }

    .bar-chart-legend .legend-color {
        width: 12px;
        height: 12px;
        margin: 3px 5px;
        display: inline-block;
    }*/
.scrollCustomer {
    height: 767px;
    overflow: auto;
}
.scrollContact {
    height: 345px;
    overflow: auto;
}
.scrollCoupon {
    height: 377px;
    overflow: auto;
}


.block {
    overflow: clip;
    width: 170px;
    height: 20px;
}


.sNewMessage {
    padding-right: 2px;
    text-align: right;
    color: green;
    font-size:15px;
}

.sendMessageButton {
    background-color: green;
    color: white;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 400;
    padding: 4px 15px;
}

    .sendMessageButton:hover {
        background-color: #7ef705;
        color: white;
        text-decoration: none;
    }


.swiper-slide > h3{
    height: 50px;
}


.card-coupon {
    border: 3px solid #e28743;
    border-radius: 5%;
}

#uploadfile {
    display: none;
}

#iconfile {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
}

    #iconfile > i {
        color: #025bee;
        font-size: 60px;
    }


.like-count {
    background-color: white;
    border: solid 2px #888c89;
    border-radius: 50%;
    padding: 10px 20px;
}
.comment-count {
    background-color: white;
    border: solid 2px #888c89;
    border-radius: 50%;
    padding: 10px 20px;
}

.liked{
    color: dodgerblue;
    font-size: 35px;
}

.unlike {
    color: #8c8e91;
    font-size: 35px;
}


.comment-parent .comments-child {
    margin-left: 100px;
}

.comment-box {
    border: 2px solid #cfc9c8;
    border-radius: 25px;
    padding: 15px;
    width: 500px;
    background-color: #ffffff;
}
.spanRoleAdmin {
    background-color: #cc1d00;
    color:white;
}

.spanRoleCustomer {
    background-color: #fca00a;
    color: white;
}

.copy-data {
    background-color: #f24c05;
    color: white;
    margin-left: 10px;
    border: 2px solid #f24c05;
    border-radius: 5px;
}

.expand-replies {
    background-color: white;
    color: #228ef2;
    font-size: 15px;
}

.bd-g {
    border: 3px solid #adadad;
    border-radius: 5px;
    box-shadow: 20px 20px 50px grey;
}

.product-row {
    border: 1px solid #e5e5e5;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.product-return-img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    object-fit: cover;
}

.thumb-preview {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    object-fit: cover;
    margin-right: 6px;
}

.checkbox-return {
    border: 2px solid #b5b3b3;
    border-radius: 15px;
    width:30px;
    height:30px;
}
.br-grey {
    border: 3px solid #b5b3b3;
    border-radius: 5px;
}



.payment-status-UnPaid {
    padding: 10px 20px;
    color: white;
    background-color: #F23F1D;
    border-radius: 5px;
}
.payment-status-Paid {
    padding: 10px 20px;
    color: white;
    background-color: #359100;
    border-radius: 5px;
}
.payment-status-Refunded {
    padding: 10px 20px;
    color: white;
    background-color: #fc8c03;
    border-radius: 5px;
}
.order-fullly-returned {
    padding: 10px 20px;
    color: white;
    background-color: #fc8003;
    border-radius: 5px;
}
.order-partially-returned {
    padding: 10px 20px;
    color: white;
    background-color: #fcca03;
    border-radius: 5px;
}
.status-order-Cancel {
    padding: 10px 20px;
    color: white;
    background-color: #ad0202;
    border-radius: 5px;
}
.status-order-New {
    padding: 10px 20px;
    color: white;
    background-color: #1D64F2;
    border-radius: 5px;
}
.status-order-Accepted {
    padding: 10px 20px;
    color: white;
    background-color: #1DCEF2;
    border-radius: 5px;
}
.status-order-Delivery {
    padding: 10px 20px;
    color: white;
    background-color: #F2AB1D;
    border-radius: 5px;
}
.status-order-Completed {
    padding: 10px 20px;
    color: white;
    background-color: #359100;
    border-radius: 5px;
}
