@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
table.tbody  {
    width: auto !important;
    table-layout: auto !important;
}

    table.table-fit thead th,
    table.table-fit tbody td,
    table.table-fit tfoot th,
    table.table-fit tfoot td {
        width: auto !important;
    }


.track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px
}

    .track .step {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        width: 25%;
        margin-top: -18px;
        text-align: center;
        position: relative
    }

        .track .step.active:before {
            background: #FF5722
        }

        .track .step::before {
            height: 7px;
            position: absolute;
            content: "";
            width: 100%;
            left: 0;
            top: 18px
        }

        .track .step.active .icon {
            background: #ee5435;
            color: #fff
        }

    .track .icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        position: relative;
        border-radius: 100%;
        background: #ddd
    }

    .track .step.active .text {
        font-weight: 400;
        color: #000
    }

    .track .text {
        display: block;
        margin-top: 7px
    }


#graphBrand.svg{

    width : 360px;
    height: 360px;
}







/*.events {
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-left: 4px;
}

    .events .event {
        position: relative;
        width: 95%;
        min-height: 70px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        padding: 0 20px;
        padding-left: 50px;
        color: #fff;
        background: linear-gradient(90deg, #3f4458, transparent);
        cursor: pointer;
    }*/
        /* even event */
        /*.events .event:nth-child(even) {
            background: transparent;
        }

        .events .event:hover {
            background: linear-gradient(90deg, var(--primary-clr), transparent);
        }

        .events .event .title {
            display: flex;
            align-items: center;
            pointer-events: none;
        }

            .events .event .title .event-title {
                font-size: 1rem;
                font-weight: 400;
                margin-left: 20px;
            }

        .events .event i {
            color: var(--primary-clr);
            font-size: 0.5rem;
        }

        .events .event:hover i {
            color: #fff;
        }

        .events .event .event-time {
            font-size: 0.8rem;
            font-weight: 400;
            color: #878895;
            margin-left: 15px;
            pointer-events: none;
        }

        .events .event:hover .event-time {
            color: #fff;
        }*/
        /* add tick in event after */
        /*.events .event::after {
            content: "✓";
            position: absolute;
            top: 50%;
            right: 0;
            font-size: 3rem;
            line-height: 1;
            display: none;
            align-items: center;
            justify-content: center;
            opacity: 0.3;
            color: var(--primary-clr);
            transform: translateY(-50%);
        }

        .events .event:hover::after {
            display: flex;
        }*/