@model UserModel
@{
	ViewData["title"] = "Resgister User";
}

<section id="">
	<!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-sm-offset-1">
				<div class="signup-form">
					<!--sign up form-->
					<h2>New User Signup!</h2>
					<form asp-action="Create" asp-controller="Account">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="form-group">
							<label asp-for="UserName" class="control-label"></label>
							<input asp-for="UserName" class="form-control" />
							<span asp-validation-for="UserName" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Email" class="control-label"></label>
							<input asp-for="Email" class="form-control" />
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Password" class="control-label"></label>
							<input asp-for="Password" class="form-control" />
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>

						<button class="btn btn-default">Sign Up</button>
					</form>
				</div><!--/sign up form-->
			</div>
		</div>
	</div>
</section><!--/form-->
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
